.home1 {
  text-align: center;
  margin-top: 100px;

}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #580404;
  font-style: italic;
}
body{
    background-image: linear-gradient(#fcf483f5,#fdfdfcf3),url(/my-react-app/src/assets/f1.jpg);
    background-color: aliceblue;
    
}
body {
  margin: 0;
  font-family: "Georgia", serif;

  width: 100%;
}